body{
    background-color: lightgrey;
}

.container{
    margin: 30px 0;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.covidImage{
    margin-bottom: 30px;
}